.HelloWorld {
  background-color: var(--layoutBackground);
  padding: calc(var(--padding) * 2);

  .doodle-style {
    width: 200px;
    background-color: cadetblue;

    // Check if light theme enabled in Lens
    :global(.theme-light) & {
      background-color: cornsilk;
    }
  }

  p {
    // CSS variables listed in theme files such as src/renderer/themes/lens-light.json
    // in Lens repository https://github.com/lensapp/lens
    color: var(--blue);
  }
}